doctype html
html
  head
    link(rel='stylesheet', href='/css/styles.css')
    title Mi plantilla Pug
  body
    h1 Bienvenido a mi plantilla Pug
    p Mensaje: #{mensaje}
    p Imagen: #{imagen}
    p Enlace: #{enlace}
