<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mi plantilla EJS</title>
</head>
<body>
  <h1>Bienvenido a mi plantilla EJS</h1>
  <p>Mensaje: <%= mensaje %></p>
  <p>Imagen: <%= imagen %></p>
  <p>Enlace: <%= enlace %></p>
</body>
</html>
